@import url("./something.css");

/* main section style START */
.fascinating-words {
  font-family: fantasy;
}

.interesting-things {
  list-style-type: square;
}

/* main section style END  */


/* navbar style START */
.top-divider {
  border-style: solid none none none;

.bottom-divider {
  border-style: none none solid none;

}

/* navbar style END */

/* footer section style START */
.spaced-items {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* footer section style END */
